body {
    margin: 0;
    background-color: #d3cbcb;
}

.container {
    margin: 10%;
}
/* TODO: избавиться от пикселей (пример: { width: 24%; margin-right: 1%; }) + rem + em в помощь*/
.block {
    display: block;
    margin: 0 auto;
    border: #c6c2c2 2px solid;
    border-radius: 2%;
    background-color: lavenderblush;
    width: 57%;
    height: 25em;
    position: relative;
}

.photo {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    position: absolute;
    left: 260px;
    bottom: 79%;
}

.paddingTop {
    padding-top: 70px;
}

.specialty {
    word-wrap: break-word;
    padding: 10px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}
